# Important Python concepts
* dynamically typed / loosely typed
  * don't need to declare type of our variables
  * we can overwrite our variables with other data types at will
* Python is "duck typed"
  * if it walks like a duck, and quacks like a duck, I'll call it a duck
  * it's possible and common for functions to accept arguments of many different data types
    * what those functions expect is a behavior/attribute of the arguments as opposed to a specific type
* scalars vs. containers
  * scalar: an object which contains _a single value_ (e.g., int, float, bool)
  * container: an object whch contains 0+ other objects (e.g., list, tuple, dict, set, frozenset)
* mutable vs. immutable objects
  * mutable: changeable (e.g., dict, list, set)
  * immutable: not changeable (e.g., str, tuple)
* the built-in functions (e.g., len(), int(), sorted(), ...) DO NOT change the obects that are passed to them
  * if you want to change an object in Python, you must use call/apply/invoke a method to/on that object
    * not all methods change the objects they are called/applied/invoked on/to
  * a method is a type-specific function (e.g., string methods, list methods) and it's also called with a different notation... OBJECT.method(arguments), e.g., __`'hello'.upper()`__
* Python practices "truthiness":
  * 0 and 0.0 are considered False in a Boolean context; non-zero values act like True in a Boolean context
  * empty containers are considered False " " " "; non-empty containers are considered True
  * None is considered False in a Boolean context
* exception handler primer:
  * limit the size of the try/except to the code that can fail
  * only catch/except the thing you expect; a "catch-all" exception can be used for testing/understanding, but if you leave it in there, you run the risk of hiding a bug
* Python classes
   * \_\_init\_\_ called automatically when you create an instance of the class ("instantiation")
   * self is a reference to the object that we are working with, BUT WE DON'T PASS IT, Python does it for us
     * in order to access the object (and its fields/attributes) we have to preface those fields with self.
* every "thing" in Python is an object that lives in memory
  * ...and we can inspect it and see what's inside it (e.g., with the __`dir()`__ function)

## Named Tuples
* problem w/built-in tuples is there are no field names
  * therefore, the only way to get at the fields is to iterate thru them or use indexing
* namedtuples add field names so that we can access fields independent of indexing
* from the collections module
* __`namedtuple()`__ is a _class factory_, i.e., meaning we created a brand new every time we call it

# Pythonic
* best practices
* idioms that Python programmers expect to see
* e.g.,
   * __`for _ in range(n):`__ means "do something n times"
   * if an object is difficult to work with, consider changing its type
     * e.g., __`for digit in str(someint): print(digit)`__
* when importing modules, prefer __`import module`__ outside a function and __`from module import thing`__ inside a function

# Important programming thoughts
* you read code 10x more often than your write code
* DWS's two "patented" ways to get better at coding:
  1. when you have a working solution, try to write it another way
  1. when you have a working solution, add more features
* DRY = Don't Repeat Yourself
* DWS: "Efficiency doesn't matter until it matters, and it rarely matters."

In [2]:
# type hinting
number: int = 1 # adding a "type hint" to indicate that I want this var to be int

In [3]:
number = 1.5

In [4]:
number = 'hi'

In [5]:
import math

In [6]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [7]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.11/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /home/dssadmin/miniconda3/lib/python3.11/lib-dynload/math.cpython-311-x86_64-linux-gnu.so

In [8]:
math.sin(math.pi / 2.0)

1.0

In [9]:
# range() takes 1, 2, or 3 parameters
for num in range(1, 10): # 1..10 (not inclusive) meaning 1..9
    print(num)

1
2
3
4
5
6
7
8
9

In [13]:
for num in range(10): # 0..9
    print(num)

0
1
2
3
4
5
6
7
8
9

In [12]:
for num in range(1, 10, 2): # 3rd paramater is "step"
    print(num)

1
3
5
7
9

In [15]:
for _ in range(10): # do this 10 times
    print('hi')

SyntaxError: invalid syntax (2877265301.py, line 1)

In [16]:
divmod(35, 4)

(8, 3)

In [24]:
quot, rem = divmod(35, 4)

In [18]:
quot

8

In [19]:
quot, _ = divmod(35, 4) # put first return value in quot, "discard" second return value

In [20]:
quot = divmod(35, 4)

In [21]:
quot

(8, 3)

In [25]:
len([1, 2, 3])

3

In [26]:
len('string')

6

In [27]:
len((1, 2, 3))

3

In [28]:
name = 'dave'

In [30]:
name[0] = 'D'

TypeError: 'str' object does not support item assignment

In [31]:
name = 'Dave'

In [32]:
name = '4'

In [33]:
int(name) # int-ifying "type casting", not so much used in Python

4

In [36]:
'hello'.upper() # str object DOT str function/method

'HELLO'

In [37]:
# duck typing
# len() operates on any container/iterable (they are slightly different)

In [38]:
len('string'), len([1]), len((1, 2)), len({})

(6, 1, 2, 0)

In [39]:
len(4.5)

TypeError: object of type 'float' has no len()

In [62]:
# let's write our own duck typed function

def iterate(container):
    """Iterate through container passed to it."""
    try:
        for thing in container: # for each thing in container
            print(thing)
    except TypeError:
        print('Not ierable')

In [41]:
help(iterate)

Help on function iterate in module __main__:

iterate(thing)
    Iterate through thing object.

In [42]:
import math
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [61]:
iterate('string')

s
t
r
i
n
g

ZeroDivisionError: division by zero

In [52]:
iterate([1, 2,3, 5])

1
2
3
5

In [64]:
iterate([])

nope

In [54]:
iterate((1, 2, 3))

1
2
3

In [55]:
iterate({'one': 1, 'two': 2 })

one
two

In [63]:
iterate(1)

Not ierable

In [65]:
1 / 0

ZeroDivisionError: division by zero

In [66]:
'string'[10]

IndexError: string index out of range

In [67]:
def myfunc(index):
    mylist = [1, 2, 10]
    try:
        print(mylist[index])
    except IndexError:
        return None

In [68]:
myfunc(0)

1

In [69]:
myfunc(55)

bad index

In [71]:
len(1)

TypeError: object of type 'int' has no len()

In [72]:
Cost = 19.95

In [73]:
cost

NameError: name 'cost' is not defined

In [75]:
cost_per_ounce = 1.25 # "snake case"

In [76]:
CONSTANT = 124 # all caps for constants

In [78]:
employee = 'Cordani', 'David', 'CEO', 1, '312-555-1212' # tuple

In [79]:
type(employee)

tuple

In [80]:
employee

('Cordani', 'David', 'CEO', 1, '312-555-1212')

In [81]:
employee[-1]

'312-555-1212'

In [82]:
employee[0] = 'Smith'

TypeError: 'tuple' object does not support item assignment

In [84]:
employees_ids = '1234 5678 11134 0902 76 888'.split()

In [85]:
employees_ids

['1234', '5678', '11134', '0902', '76', '888']

In [86]:
first_names = 'Dave Vijay Janki Chandra Ram'.split()

In [87]:
first_names

['Dave', 'Vijay', 'Janki', 'Chandra', 'Ram']

In [88]:
first_names[0] = 'David'

In [89]:
first_names

['David', 'Vijay', 'Janki', 'Chandra', 'Ram']

In [90]:
weird_list = [1, 2.5, '3', [4]]

In [91]:
weird_list

[1, 2.5, '3', [4]]

In [93]:
import random
nums = []

In [94]:
for _ in range(100):
    nums.append(random.randint(1, 100))

In [95]:
print(nums)

[71, 11, 7, 97, 36, 55, 68, 72, 11, 18, 67, 16, 2, 93, 80, 32, 27, 31, 79, 29, 30, 66, 3, 29, 88, 19, 73, 8, 72, 90, 46, 4, 53, 76, 10, 79, 69, 44, 24, 92, 100, 69, 78, 82, 98, 96, 97, 8, 67, 68, 76, 61, 27, 53, 97, 34, 6, 48, 39, 49, 43, 89, 70, 58, 93, 13, 93, 43, 18, 96, 78, 50, 94, 25, 52, 32, 63, 40, 8, 6, 53, 36, 1, 67, 17, 33, 1, 51, 11, 100, 53, 63, 8, 66, 99, 60, 100, 50, 51, 20]

In [96]:
print(set(nums))

{1, 2, 3, 4, 6, 7, 8, 10, 11, 13, 16, 17, 18, 19, 20, 24, 25, 27, 29, 30, 31, 32, 33, 34, 36, 39, 40, 43, 44, 46, 48, 49, 50, 51, 52, 53, 55, 58, 60, 61, 63, 66, 67, 68, 69, 70, 71, 72, 73, 76, 78, 79, 80, 82, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99, 100}

In [97]:
nums_no_dupes = list(set(nums))
print(nums_no_dupes)

[1, 2, 3, 4, 6, 7, 8, 10, 11, 13, 16, 17, 18, 19, 20, 24, 25, 27, 29, 30, 31, 32, 33, 34, 36, 39, 40, 43, 44, 46, 48, 49, 50, 51, 52, 53, 55, 58, 60, 61, 63, 66, 67, 68, 69, 70, 71, 72, 73, 76, 78, 79, 80, 82, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99, 100]

In [100]:
nums = set()
for _ in range(100):
    nums.add(random.randint(1, 100))

In [101]:
print(nums)

{1, 3, 5, 6, 7, 10, 13, 15, 18, 19, 20, 21, 22, 24, 25, 26, 28, 29, 31, 34, 37, 38, 39, 41, 42, 45, 47, 48, 49, 50, 51, 55, 56, 57, 59, 60, 61, 62, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 77, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 94, 97, 98}

In [102]:
help(nums)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [103]:
new_nums = [random.randint(1, 1000) for _ in range(100)]

In [106]:
squares = [num * num for num in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [109]:
names = 'Dave Evgeni Jordan Jana'.split()
names

['Dave', 'Evgeni', 'Jordan', 'Jana']

In [110]:
upper_names = [name.upper() for name in names]
upper_names

['DAVE', 'EVGENI', 'JORDAN', 'JANA']

In [111]:
vowel_end_names = [name for name in names
                           if name[-1] in 'aeiou']

In [112]:
vowel_end_names

['Dave', 'Evgeni', 'Jana']

In [105]:
print(new_nums)

[326, 486, 351, 405, 663, 471, 625, 986, 795, 418, 325, 127, 568, 927, 845, 773, 142, 834, 1000, 632, 231, 108, 621, 953, 132, 211, 299, 253, 924, 677, 285, 1, 993, 343, 754, 896, 245, 685, 595, 462, 559, 848, 639, 546, 369, 717, 528, 914, 960, 461, 73, 639, 508, 334, 720, 157, 506, 802, 736, 943, 28, 545, 256, 63, 331, 646, 269, 86, 966, 740, 460, 398, 50, 753, 906, 914, 831, 473, 820, 78, 642, 644, 718, 672, 470, 178, 996, 787, 543, 97, 847, 50, 115, 864, 280, 998, 663, 510, 313, 325]

In [113]:
s = { 1, 2, 3, 4 }

In [114]:
s

{1, 2, 3, 4}

In [115]:
s.add('five')

In [116]:
s

{1, 2, 3, 4, 'five'}

In [118]:
s.remove('five')

KeyError: 'five'

In [119]:
s.discard('five')

In [120]:
set().discard(1)

In [6]:
def f(x, y, z, *args):
    """x, y, z are required arguments.
       *args allow us to have 0+ additional arguments that we pass as well
       "variable positional arguments"
    """
    print(x, y, z)
    for arg in args:
        print(arg)

In [7]:
f(1, 2, 3)

1 2 3

In [8]:
f(1, 2, 3, 'this', 'that', 'other')

1 2 3
this
that
other

In [12]:
import math
# print can accept ANY NUMBER OF ANY TYPE of arguments
print(1, 1.2, '1.3', [], {}, set(), (), print, math, sep='\n')

1
1.2
1.3
[]
{}
set()
()
<built-in function print>
<module 'math' from '/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/lib-dynload/math.cpython-313-darwin.so'>

In [14]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'f',
 'get_ipython',
 'math',
 'open',
 'quit']

In [29]:
def weird_func(x, y, *args, **kwargs):
    """x and y are required.
       *args means we can pass 0+ positional arguments
       **kwargs means we can pass 0+ keyword arguments
    """
    print('required positional args:', x, y)
    print('optional positional args:', args)
    print('optional keyword args: ', kwargs)

    if 'color' in kwargs:
        print('color is', kwargs['color'])

In [19]:
weird_func()

TypeError: weird_func() missing 2 required positional arguments: 'x' and 'y'

In [100]:
weird_func(1, 2, 'big', 5, [1, 2], debug=True, color='red', country='USA')

SyntaxError: positional argument follows keyword argument (2974532532.py, line 1)

In [104]:
weird_func(1, 2, 'big', 5, [1, 2], color='red', country='USA', debug=True)

SyntaxError: positional argument follows keyword argument (1307129922.py, line 1)

In [32]:
weird_func(1, 2, 'big', 5, [1, 2], first_name='Aarthy', country='USA', debug=True)

required positional args: 1 2
optional positional args: ('big', 5, [1, 2])
optional keyword args:  {'first_name': 'Aarthy', 'country': 'USA', 'debug': True}

In [95]:
def name_func(first, last, middle=None):
    if middle: # what feature of Python is being demonstrated
        print(1, first, middle, last)
    else:
        print(2, first, last)

In [35]:
name_func('Bruce', 'Lee')

Bruce Lee

In [99]:
name_func('Venkata', 'Prasad', 'Hari')

1 Venkata Hari Prasad

In [107]:
# meaning 2 of "keyword arguments"
# we can (in most cases) pass arguments in any order we wish, as long as we name them
name_func('Albert', last='Einstein', middle='Sanford')

1 Albert Sanford Einstein

In [109]:
def f(*args, **kwargs):
    print(args)
    print(kwargs)

In [114]:
f(debug=True, color='pink')

()
{'debug': True, 'color': 'pink'}

In [146]:
def product(*terms):
    """Compute the product of all args."""
    result = 1
    for term in terms:
        result = result * term # result *= arg

    return result

In [147]:
product(2, 3, 4) # 2 x 3 x 4 = 24

24

In [149]:
product(-2, 4, 1.2)

-9.6

In [52]:
number = -1.2

In [53]:
if number: # is this thing "considered" True
    print('yep')

yep

In [51]:
number == True

False

In [57]:
name = 'Taylor Swift'

In [59]:
if name: # if name is a non-empty container
    print('Hi', name)

Hi Taylor Swift

In [62]:
names = 'Dave Evgeni Ram Yadi'.split()

In [68]:
if names:
    print('Here are the names:', end=' ')
    print(*names, sep=', ') # * = "unpack" operator

Here are the names: Dave, Evgeni, Ram, Yadi

In [70]:
print(names[0], names[1], names[2], names[3], sep=', ')

Dave, Evgeni, Ram, Yadi

In [71]:
nums = list(range(10))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
first, second, *rest, penultimate, ultimate = nums

In [77]:
first

0

In [78]:
second

1

In [79]:
penultimate

8

In [80]:
ultimate

9

In [81]:
rest

[2, 3, 4, 5, 6, 7]

In [84]:
letters = 'a b c'.split() # makes a list of 'a', 'b', 'c'
letters

['a', 'b', 'c']

In [85]:
print(letters)

['a', 'b', 'c']

In [87]:
print(letters[0], letters[1], letters[2], sep=', ')

a, b, c

In [89]:
print(*letters, sep=', ') # we are printing how many strings? 3

a, b, c

In [90]:
', '.join(letters) # concatenate all of the strings in letters with a ', ' between each pair

'a, b, c'

In [92]:
print(' '.join(letters)) # we are printing ONE string

a b c

In [119]:
words = 'apple pear banana fig'.split()

In [120]:
sorted(words, reverse=True)

['pear', 'fig', 'banana', 'apple']

In [122]:
sorted(words, key=len, reverse=True)

['banana', 'apple', 'pear', 'fig']

In [123]:
x := 1

SyntaxError: invalid syntax (2984684956.py, line 1)

In [125]:
x = 1

In [128]:
'apple'.split()

['apple']

In [129]:
fruit = 'fig'

In [130]:
fruit.upper()

'FIG'

In [132]:
fruit = fruit.upper()

In [133]:
fruit

'FIG'

In [134]:
fruits = 'apple fig'.split()

In [135]:
fruits

['apple', 'fig']

In [136]:
fruits.upper()

AttributeError: 'list' object has no attribute 'upper'

In [138]:
fruits.insert(1, 'pear') # mutator method

In [139]:
fruits

['apple', 'pear', 'fig']

In [140]:
help(fruits.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [141]:
fruits.count('fig') # inspector method

1

In [142]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [143]:
from bank import BankAccount

In [144]:
ba = BankAccount('self', 'Bruce Lee', 150)

TypeError: BankAccount.__init__() takes 3 positional arguments but 4 were given

In [145]:
ba = BankAccount(150)

TypeError: BankAccount.__init__() missing 1 required positional argument: 'initial_balance'

In [159]:
class Person:
    def name(self):
        return self.name

In [160]:
p = Person()

In [152]:
type(p)

__main__.Person

In [156]:
p.name = 'Dave'

In [157]:
p.foo = 'bar'

In [162]:
vars(p)

{}

In [163]:
p.__dict__

{}

In [153]:
from bank import BankAccount # grab the BankAccount class from the bank.py file/module

In [154]:
ba = BankAccount('me', 1)

In [155]:
type(ba)

bank.BankAccount

In [164]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [165]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.13/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fma(x, y, z, /)
        Fused multiply-add operation.

        Compute (x * y) + z with a single round.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/lib-dynload/math.cpython-313-darwin.so

In [166]:
math.__doc__

'This module provides access to the mathematical functions\ndefined by the C standard.'

In [167]:
type(math.acos)

builtin_function_or_method

In [169]:
print(math.acos.__doc__)

Return the arc cosine (measured in radians) of x.

The result is between 0 and pi.

In [170]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [171]:
print.__doc__

'Prints the values to a stream, or to sys.stdout by default.\n\n  sep\n    string inserted between values, default a space.\n  end\n    string appended after the last value, default a newline.\n  file\n    a file-like object (stream); defaults to the current sys.stdout.\n  flush\n    whether to forcibly flush the stream.'

In [172]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [173]:
import random

In [176]:
s = 'hello'

In [179]:
help(str.count)

Help on method_descriptor:

count(self, sub[, start[, end]], /) unbound builtins.str method
    Return the number of non-overlapping occurrences of substring sub in string S[start:end].

    Optional arguments start and end are interpreted as in slice notation.

In [183]:
'supermaner'.count('er', 6, 8)

0

In [184]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, /, count=-1) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [186]:
'aeiouaeiou'.replace('e', '-', count=1)

'a-iouaeiou'

In [187]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [188]:
str(4)

'4'

In [189]:
num = 4

In [190]:
str(num)

'4'

In [191]:
num

4

In [192]:
num.__str__()

'4'

In [193]:
print(4)

4

In [194]:
name = 'Bruce Lee'

In [195]:
name # repr...what's the value of this?

'Bruce Lee'

In [196]:
print(name) # str

Bruce Lee

In [198]:
name # directive to Python to show the value of something

'Bruce Lee'

In [200]:
print(name[0])

B

In [201]:
name = Bruce Lee

SyntaxError: invalid syntax (2414570781.py, line 1)

In [209]:
s = str('string') # explicitly creating an instance of a str object
s = 'string' # shorthand for the above

In [208]:
s.upper()

'STRING'

In [204]:
from bank import BankAccount

In [205]:
b = BankAccount('Dave', 100)

In [206]:
b.deposit(10)

110

In [210]:
s = str(4)

In [211]:
s

'4'

In [212]:
len(2)

TypeError: object of type 'int' has no len()

In [213]:
len('string')

6

In [214]:
'string'.__len__()

6

In [215]:
len('string')

6

In [216]:
len([])

0

In [218]:
len((1, 2))

2

In [219]:
# we say in the fundamentals class – len works for any container

In [220]:
'dog' + 'house'

'doghouse'

In [221]:
'dog'.__add__('house')

'doghouse'

In [222]:
2 + 4

6

In [224]:
int.__add__(2, 4)

6

In [225]:
x = 2

In [226]:
x.__add__(5)

7

In [227]:
x + 5

7

In [228]:
x = 'string'

In [229]:
x.__add__('!')

'string!'

In [231]:
class BankAccount:
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance

    
    def __repr__(self):
        """Return a string representation of object, for humans.
           __repr__ is used if __str__ does not exist.
        """
        return f'{self.name} has ₹{self.balance} in the bank'


    def __len__(self):
        return len(self.name) + len(str(self.balance))


    def __eq__(self, other):
        print('checking equality')
        return self.balance == other.balance

        
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    
    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [232]:
a = BankAccount('hi', 50)
b = BankAccount('hi', 45)

In [233]:
a == b

checking equality

False

In [234]:
b.deposit(5)

50

In [235]:
a == b

checking equality

True

In [251]:
class BankAccount:
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance

    
    def __repr__(self):
        """Return a string representation of object, for humans.
           __repr__ is used if __str__ does not exist.
        """
        return f'{self.name} has ₹{self.balance} in the bank'


    def __len__(self):
        return len(self.name) + len(str(self.balance))


    def __eq__(self, other):
        print('checking equality')
        return self.name == other.name and self.balance == other.balance


    def __mul__(self, factor):
        return BankAccount(self.name + '*', self.balance * factor)

    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    
    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [258]:
a = BankAccount('hi', 50)
b = BankAccount('hi.', 45)

In [241]:
a == b

checking equality

False

In [242]:
b.deposit(5)

50

In [243]:
a == b

checking equality

False

In [244]:
b.name = 'hi'
a == b

checking equality

True

In [245]:
2 * 4

8

In [246]:
c = 4
c * 2

8

In [253]:
a * 1.2 # repr

hi* has ₹60.0 in the bank

In [259]:
new_a = a * 1.2

In [260]:
new_a

hi* has ₹60.0 in the bank

In [261]:
del a # "delete" this object

In [262]:
a

NameError: name 'a' is not defined

In [269]:
# Instead of adding an '*' to the name to indicate it's been multiplied...
class BankAccount:
    def __init__(self, name, initial_balance, been_multiplied=False):
        self.name = name
        self.balance = initial_balance
        self.has_been_multiplied = been_multiplied

    
    def __repr__(self):
        """Return a string representation of object, for humans.
           __repr__ is used if __str__ does not exist.
        """
        return f'{self.name} has ₹{self.balance} in the bank ({self.has_been_multiplied})'


    def __len__(self):
        return len(self.name) + len(str(self.balance))


    def __eq__(self, other):
        print('checking equality')
        return self.name == other.name and self.balance == other.balance


    def __mul__(self, factor):
        return BankAccount(self.name, self.balance * factor, been_multiplied=True)

    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    
    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [270]:
a = BankAccount('Taylor', 300)

In [271]:
a

Taylor has ₹300 in the bank (False)

In [272]:
ma = a * 1.2

In [273]:
ma

Taylor has ₹360.0 in the bank (True)

In [274]:
'apple' < 'big'

True

In [275]:
'zoology' > 'biology'

True

In [278]:
class Word(str):
    """Word class is no different from str class"""

In [284]:
class Word(str): # Word class inherits from str class
    def __lt__(self, other):
        # compute length of each Word (string)
        # ask if length of first Word < length of second Word
        print(f'{self} < {other} = {len(self) < len(other)}')
        return len(self) < len(other)
 
    def __gt__(self, other):
        return len(self) > len(other)

    def __ge__(self, other):
        return len(self) >= len(other)
    
    def __le__(self, other):
        return len(self) <= len(other)
    
    def __eq__(self, other):
        return len(self) == len(other)

In [285]:
Word('apple') < Word('fig')

apple < fig = False

False

In [286]:
Word('apple') > Word('fig')

True

In [287]:
Word('apple') == Word('fig')

False

In [288]:
Word('this') == Word('that')

True

In [289]:
w = Word('apple')

In [290]:
w[-1]

'e'

In [291]:
w[0]

'a'

In [292]:
w[1:4]

'ppl'

In [293]:
w[0] = 'X'

TypeError: 'Word' object does not support item assignment

In [294]:
mylist = [1, 2, 7]

In [296]:
mylist.remove(7)

ValueError: list.remove(x): x not in list

In [306]:
s = {1, 2, 7}
s

{1, 2, 7}

In [309]:
s.discard(7)

In [303]:
s.remove(7)

KeyError: 7

In [316]:
class BetterList(list): # inherit from list
    # add a new feature
    def discard(self, item): # self is the BetterList, item is the thing to discard
        if item in self: # item is in the list
            self.remove(item)

    def removeall(self, item): # remove ALL instance of item, not just the first
        while item in self: # while there is any instance of item in self (list)
            self.remove(item)

In [319]:
nums = BetterList([1] * 100)

In [321]:
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [322]:
nums.append(2)

In [323]:
nums.remove(1)
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]

In [327]:
nums.removeall(1)
print(nums)

[2]

In [314]:
nums.remove(4)

ValueError: list.remove(x): x not in list

In [315]:
nums.discard(4)

not there

In [345]:
class BetterList(list): # inherit from list
    # add a new feature
    def discard(self, item): # self is the BetterList, item is the thing to discard
        if item in self: # item is in the list
            self.remove(item)

    
    def removeall(self, item): # remove ALL instance of item, not just the first
        while item in self: # while there is any instance of item in self (list)
            self.remove(item)
            

    def copy_without(self, item): # make a copy that does not include any item
        new_list = BetterList(self.copy())
        new_list.removeall(item)

        return new_list

In [350]:
nums = BetterList([1] * 100)
nums.append(2)
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]

In [347]:
nums_without_1s = nums.copy_without(1)

In [348]:
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]

In [349]:
print(nums_without_1s)

[1, 2]

In [352]:
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]

In [353]:
set(nums)

{1, 2}

In [354]:
len(1)

TypeError: object of type 'int' has no len()

In [372]:
class ZanyInt(int):
    def __len__(self):
        return len(str(self))

    def digitify(self):
        # return(list(str(self))) # this returns a list of digits as strings
        return [int(digit) for digit in str(self)]

In [366]:
num = 12345
str(num)

'12345'

In [359]:
len(str(num))

5

In [373]:
z = ZanyInt(12345)

In [374]:
len(z)

5

In [375]:
z.digitify()

[1, 2, 3, 4, 5]

In [376]:
num = 67890

In [378]:
for digit in str(num):
    print(int(digit))

6
7
8
9
0

In [379]:
import math
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [381]:
d = {'a': 1}

In [382]:
d['a']

1

In [383]:
d['b']

KeyError: 'b'

In [384]:
from collections import defaultdict

In [385]:
d = defaultdict(int) # my values are going to be ints, so return 0 when a key is missing

In [386]:
d

defaultdict(int, {})

In [387]:
print(d)

defaultdict(<class 'int'>, {})

In [388]:
type(d)

collections.defaultdict

In [389]:
d['not there']

0

In [390]:
d['a'] = 5

In [391]:
d

defaultdict(int, {'not there': 0, 'a': 5})

In [392]:
d['b']

0

In [393]:
d

defaultdict(int, {'not there': 0, 'a': 5, 'b': 0})

## Lab: Default Dictionaries
* read from the keyboard where each line is a word followed by a count, e.g.,
<pre>
    apple 2
    pear 3
    cherry 5
    apple 3
    pear 6
    apple 1
</pre>
(as shown above, words may be duplicated)
* generate a __`defaultdict`__ where the keys are the words and the value are a _list_ of all the counts for that word, e.g.,
<pre>
defaultdict(&lt;class 'list'>, {'apple': ['2', '3', '1'], 'pear': ['3', '6'], 'cherry': ['5']})
</pre>

In [394]:
line = input('Enter: ')

Enter:  apple 2

In [395]:
line

'apple 2'

In [396]:
line.split()

['apple', '2']

In [406]:
word, count = line.split()

In [407]:
word, count

('apple', '2')

In [402]:
d = defaultdict(list)

In [403]:
d

defaultdict(list, {})

In [404]:
d['apple']

[]

In [408]:
d

defaultdict(list, {'apple': []})

In [410]:
d['apple'].append(count)

In [411]:
d

defaultdict(list, {'apple': ['2']})

In [413]:
while (line := input('Enter: ')) != 'quit':
    print('read this:', line)

Enter:  apple 5

read this: apple 5

Enter:  pear 34

read this: pear 34

Enter:  lemon 2

read this: lemon 2

Enter:  quit

In [424]:
import collections

counts = defaultdict(list) # default dict with lists as values

while (line := input('Enter: ').lower()) != 'quit': # while anything other than 'quit'
    try:
        word, count = line.split() # split line into 2 parts
    except ValueError:
        print('malformed line:', line) 
    counts[word].append(count) # append to list (which is the value in dict)

Enter:  QUIT

In [422]:
print(counts)

defaultdict(<class 'list'>, {'apple': ['2', '4'], 'fig': ['3', '3', '3', '5']})

In [425]:
type(4)

int

In [426]:
thing = 4

In [427]:
type(thing) == int

True

In [428]:
words = 'pear apple fig lemon'.split()

In [429]:
words

['pear', 'apple', 'fig', 'lemon']

In [430]:
del words[-1] # delete/remove from memory the last item

In [431]:
words

['pear', 'apple', 'fig']

In [432]:
big_variable = 1

In [433]:
del big_variable

In [434]:
big_variable

NameError: name 'big_variable' is not defined

In [436]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [471]:
# zip
last_names = 'Lovelace Hopper Johnson'.split()
first_names = 'Ada Grace Katherine'.split()
birth_years = [1815, 1906, 1918]

In [472]:
for last_name, first_name, birth_year in zip(last_names, first_names, birth_years):
    print(last_name, first_name, 'born in', birth_year)

Lovelace Ada born in 1815
Hopper Grace born in 1906
Johnson Katherine born in 1918

In [476]:
for index in range(len(last_names)):
    print(last_names[index], first_names[index], birth_years[index])

Lovelace Ada 1815
Hopper Grace 1906
Johnson Katherine 1918

In [438]:
# any comma-separated sequence of objects is by definition a TUPLE
t = 'Lovelace', 'Ada', 1815, 'United Kingdom'

In [446]:
t

('Lovelace', 'Ada', 1815, 'United Kingdom')

In [440]:
type(t)

tuple

In [447]:
t[-1] # indexing a tuple

'United Kingdom'

In [449]:
t[1:-1] # slicing a tuple

('Ada', 1815)

In [450]:
from collections import namedtuple
HistoricalFigure = namedtuple('HistoricalFigure', 'last_name first_name birth_year country')

In [460]:
ada = HistoricalFigure('Lovelace', 'Ada', 1815, 'UK')

In [461]:
ada._fields

('last_name', 'first_name', 'birth_year', 'country')

In [462]:
ada

HistoricalFigure(last_name='Lovelace', first_name='Ada', birth_year=1815, country='UK')

In [466]:
type(ada)

__main__.HistoricalFigure

In [470]:
for field_name, value in zip(ada._fields, ada):
    print(field_name, '=', value)

last_name = Lovelace
first_name = Ada
birth_year = 1815
country = UK

In [441]:
x = 1
y = 2

In [442]:
temp = x
x = y
y = temp

In [443]:
x, y

(2, 1)

In [444]:
x, y = y, x

In [445]:
x, y

(1, 2)

In [455]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

In [456]:
p = Point(1, 2)

In [457]:
p

Point(x=1, y=2)

In [458]:
type(p)

__main__.Point

In [459]:
# Great book ... Fluent Python by Luciano Ramalho

In [477]:
num = 1

In [478]:
type(num)

int

In [490]:
dir(num)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [480]:
num.__class__

int

In [481]:
num = 1.5

In [482]:
num.__class__

float

In [483]:
class Person:
    def __init__(self, name):
        self.name = name

In [484]:
dave = Person('Dave')

In [485]:
vars(dave)

{'name': 'Dave'}

In [486]:
dave.__dict__

{'name': 'Dave'}

In [488]:
dave.name = 'Grace'

In [489]:
vars(dave)

{'name': 'Grace'}

## Lab: Named Tuples
1. Create a named tuple called __`Card`__ (representing a playing card) which has two fields, __`rank`__ and __`suit`__
2. Create a list of __`Card`__, which, when initialized, contains all 52 cards in a deck
3. In other words, the list (or deck) should contain  

__`[Card(rank=2, suit='clubs'), Card(rank=3, suit='clubs'), Card(rank=4, suit='clubs'), ..., Card(rank='Q', suit='spades'), Card(rank='K', suit='spades'), Card(rank='A', suit='spades')]`__
* ranks = 2, 3, 4, ..., 10, J, Q, K, A (strings)
* suits = clubs, hearts, diamonds, spades (strings)

In [501]:
ranks = [str(rank) for rank in range(2, 11)] + list('JQKA')
print(ranks)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [504]:
# or...
ranks = []
for rank in range(2, 11):
    ranks.append(str(rank))

ranks.extend('J Q K A'.split()) # or list('JQKA')
print(ranks)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [496]:
suits = 'clubs diamonds hearts spades'.split()

In [511]:
from collections import namedtuple
Card = namedtuple('Card', 'rank, suit')

In [512]:
Card._fields

('rank', 'suit')

In [ ]:
deck = []
for suit in suits:
    for rank in ranks: # for each rank 2..10, J..A
        deck.append(Card(rank, suit))

# list comprehension? We'll do it together...

In [520]:
deck = [Card(rank, suit) for suit in suits
                            for rank in ranks]
print(deck)

[Card(rank='2', suit='clubs'), Card(rank='3', suit='clubs'), Card(rank='4', suit='clubs'), Card(rank='5', suit='clubs'), Card(rank='6', suit='clubs'), Card(rank='7', suit='clubs'), Card(rank='8', suit='clubs'), Card(rank='9', suit='clubs'), Card(rank='10', suit='clubs'), Card(rank='J', suit='clubs'), Card(rank='Q', suit='clubs'), Card(rank='K', suit='clubs'), Card(rank='A', suit='clubs'), Card(rank='2', suit='diamonds'), Card(rank='3', suit='diamonds'), Card(rank='4', suit='diamonds'), Card(rank='5', suit='diamonds'), Card(rank='6', suit='diamonds'), Card(rank='7', suit='diamonds'), Card(rank='8', suit='diamonds'), Card(rank='9', suit='diamonds'), Card(rank='10', suit='diamonds'), Card(rank='J', suit='diamonds'), Card(rank='Q', suit='diamonds'), Card(rank='K', suit='diamonds'), Card(rank='A', suit='diamonds'), Card(rank='2', suit='hearts'), Card(rank='3', suit='hearts'), Card(rank='4', suit='hearts'), Card(rank='5', suit='hearts'), Card(rank='6', suit='hearts'), Card(rank='7', suit='hearts'), Card(rank='8', suit='hearts'), Card(rank='9', suit='hearts'), Card(rank='10', suit='hearts'), Card(rank='J', suit='hearts'), Card(rank='Q', suit='hearts'), Card(rank='K', suit='hearts'), Card(rank='A', suit='hearts'), Card(rank='2', suit='spades'), Card(rank='3', suit='spades'), Card(rank='4', suit='spades'), Card(rank='5', suit='spades'), Card(rank='6', suit='spades'), Card(rank='7', suit='spades'), Card(rank='8', suit='spades'), Card(rank='9', suit='spades'), Card(rank='10', suit='spades'), Card(rank='J', suit='spades'), Card(rank='Q', suit='spades'), Card(rank='K', suit='spades'), Card(rank='A', suit='spades')]

In [515]:
print(deck)

[Card(rank='2', suit='clubs'), Card(rank='3', suit='clubs'), Card(rank='4', suit='clubs'), Card(rank='5', suit='clubs'), Card(rank='6', suit='clubs'), Card(rank='7', suit='clubs'), Card(rank='8', suit='clubs'), Card(rank='9', suit='clubs'), Card(rank='10', suit='clubs'), Card(rank='J', suit='clubs'), Card(rank='Q', suit='clubs'), Card(rank='K', suit='clubs'), Card(rank='A', suit='clubs'), Card(rank='2', suit='diamonds'), Card(rank='3', suit='diamonds'), Card(rank='4', suit='diamonds'), Card(rank='5', suit='diamonds'), Card(rank='6', suit='diamonds'), Card(rank='7', suit='diamonds'), Card(rank='8', suit='diamonds'), Card(rank='9', suit='diamonds'), Card(rank='10', suit='diamonds'), Card(rank='J', suit='diamonds'), Card(rank='Q', suit='diamonds'), Card(rank='K', suit='diamonds'), Card(rank='A', suit='diamonds'), Card(rank='2', suit='hearts'), Card(rank='3', suit='hearts'), Card(rank='4', suit='hearts'), Card(rank='5', suit='hearts'), Card(rank='6', suit='hearts'), Card(rank='7', suit='hearts'), Card(rank='8', suit='hearts'), Card(rank='9', suit='hearts'), Card(rank='10', suit='hearts'), Card(rank='J', suit='hearts'), Card(rank='Q', suit='hearts'), Card(rank='K', suit='hearts'), Card(rank='A', suit='hearts'), Card(rank='2', suit='spades'), Card(rank='3', suit='spades'), Card(rank='4', suit='spades'), Card(rank='5', suit='spades'), Card(rank='6', suit='spades'), Card(rank='7', suit='spades'), Card(rank='8', suit='spades'), Card(rank='9', suit='spades'), Card(rank='10', suit='spades'), Card(rank='J', suit='spades'), Card(rank='Q', suit='spades'), Card(rank='K', suit='spades'), Card(rank='A', suit='spades')]

In [516]:
import random

In [517]:
help(random.shuffle)

Help on method shuffle in module random:

shuffle(x) method of random.Random instance
    Shuffle list x in place, and return None.

In [518]:
random.shuffle(deck)

In [519]:
print(deck)

[Card(rank='7', suit='spades'), Card(rank='2', suit='spades'), Card(rank='A', suit='spades'), Card(rank='8', suit='spades'), Card(rank='6', suit='clubs'), Card(rank='9', suit='spades'), Card(rank='2', suit='hearts'), Card(rank='2', suit='clubs'), Card(rank='K', suit='diamonds'), Card(rank='4', suit='spades'), Card(rank='6', suit='diamonds'), Card(rank='6', suit='hearts'), Card(rank='K', suit='hearts'), Card(rank='7', suit='diamonds'), Card(rank='9', suit='diamonds'), Card(rank='8', suit='diamonds'), Card(rank='7', suit='hearts'), Card(rank='Q', suit='diamonds'), Card(rank='4', suit='clubs'), Card(rank='10', suit='diamonds'), Card(rank='9', suit='hearts'), Card(rank='3', suit='hearts'), Card(rank='10', suit='clubs'), Card(rank='2', suit='diamonds'), Card(rank='7', suit='clubs'), Card(rank='5', suit='clubs'), Card(rank='5', suit='spades'), Card(rank='A', suit='hearts'), Card(rank='J', suit='hearts'), Card(rank='8', suit='hearts'), Card(rank='10', suit='spades'), Card(rank='6', suit='spades'), Card(rank='4', suit='diamonds'), Card(rank='8', suit='clubs'), Card(rank='3', suit='diamonds'), Card(rank='4', suit='hearts'), Card(rank='K', suit='clubs'), Card(rank='A', suit='diamonds'), Card(rank='9', suit='clubs'), Card(rank='J', suit='diamonds'), Card(rank='3', suit='clubs'), Card(rank='3', suit='spades'), Card(rank='A', suit='clubs'), Card(rank='5', suit='hearts'), Card(rank='J', suit='clubs'), Card(rank='5', suit='diamonds'), Card(rank='Q', suit='clubs'), Card(rank='Q', suit='hearts'), Card(rank='10', suit='hearts'), Card(rank='Q', suit='spades'), Card(rank='K', suit='spades'), Card(rank='J', suit='spades')]

In [521]:
!cat names.txt

Aarthy
Dave
Vijay
Venkata

In [522]:
names = []
# with block is traditionally used to read from files
# two advantage of a with block:
# 1. you don't have to remember to close the file when you're done (happens automagically)
# 2. all file operations are in the indented block, so they are easy to see
with open('names.txt') as infile:
    for line in infile:
        names.append(line.strip())

In [ ]:
infile = open('names.txt') # built-in function to open a file
# open() returns a file object

for line in infile:
    names.append(line.strip())
    
infile.close() # we use the .close() method in the file object to close it

In [523]:
names

['Aarthy', 'Dave', 'Vijay', 'Venkata']

In [524]:
ids = [1235, 8172, 9121, 2234]

In [525]:
9121 in ids

True

In [526]:
ids.index(9121)

2

In [531]:
random.choice(names)

'Aarthy'

In [536]:
random.choice(deck)

Card(rank='Q', suit='hearts')

In [537]:
def count_letters(word):
    """Returns a dict of letters and how many times the letter
    appeared in the string passed in.
    """
    from collections import defaultdict

    # When creating a defaultdict,
    # the passed argument dictates what the
    # default value will be (int = 0, str = "", list = [])
    count = defaultdict(int) # return 0 if a key ain't in there
    for letter in word:
        count[letter] += 1
    return count

count_letters('one two three four two three three')

defaultdict(int,
            {'o': 4,
             'n': 1,
             'e': 7,
             ' ': 6,
             't': 5,
             'w': 2,
             'h': 3,
             'r': 4,
             'f': 1,
             'u': 1})

In [538]:
import collections
dir(collections)

['ChainMap',
 'Counter',
 'OrderedDict',
 'UserDict',
 'UserList',
 'UserString',
 '_Link',
 '_OrderedDictItemsView',
 '_OrderedDictKeysView',
 '_OrderedDictValuesView',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_chain',
 '_collections_abc',
 '_count_elements',
 '_deque_iterator',
 '_eq',
 '_iskeyword',
 '_itemgetter',
 '_proxy',
 '_recursive_repr',
 '_repeat',
 '_starmap',
 '_sys',
 '_tuplegetter',
 'abc',
 'defaultdict',
 'deque',
 'namedtuple']

In [540]:
'thing' * 5 # replication/dulpication operator

'thingthingthingthingthing'

In [541]:
2 * 5

10

In [542]:
2 + 2

4

In [543]:
2.2 + 2.2

4.4

In [544]:
'2' + '2'

'22'

In [545]:
[1] + [2]

[1, 2]

In [546]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [548]:
{1, 2} | {3, 4}

{1, 2, 3, 4}

In [549]:
{1, 2, 3} & {2, 3, 4}

{2, 3}

In [550]:
from collections import Counter
import random

In [551]:
# generate 10,000 random numbers from 1 to 10 and then use a Counter to show the distribution
Counter([random.randint(1, 10) for _ in range(10_000)])

Counter({9: 1031,
         1: 1030,
         6: 1026,
         4: 1009,
         7: 997,
         5: 996,
         8: 994,
         3: 991,
         10: 973,
         2: 953})

In [552]:
nums = []

for _ in range(10_000):
    nums.append(random.randint(1, 10))

In [554]:
num_count = Counter(nums)

In [556]:
num_count

Counter({4: 1031,
         9: 1017,
         5: 1017,
         2: 998,
         3: 997,
         10: 996,
         6: 995,
         7: 994,
         1: 984,
         8: 971})

In [557]:
num_count.most_common(5)

[(4, 1031), (9, 1017), (5, 1017), (2, 998), (3, 997)]

In [559]:
d = {'one': 'won', 'two': 'too', 'three': 'tree' }

In [560]:
d.keys()

dict_keys(['one', 'two', 'three'])

In [561]:
d.values()

dict_values(['won', 'too', 'tree'])

In [562]:
d.items()

dict_items([('one', 'won'), ('two', 'too'), ('three', 'tree')])

In [563]:
fruits = ['strawberry', 'banana', 'fig', 'apple', 'cherry','kiwi']
fruits

['strawberry', 'banana', 'fig', 'apple', 'cherry', 'kiwi']

In [564]:
# tell sorted() to run the len() function on each pair of items it's comparing
sorted(fruits, key=len)

['fig', 'kiwi', 'apple', 'banana', 'cherry', 'strawberry']

In [567]:
'string'[::-1] # start at pos 0, ends at end, but step is -1, so Python swaps beginning and end

'gnirts'

In [568]:
'0123456789'[1:-1]

'12345678'

In [569]:
fruits = 'apple fig pear strawberry'.split()

In [570]:
fruits[1:-1]

['fig', 'pear']

In [574]:
def run_a_func(func, arg):
    """Send in a function as argument one and a parameter as argument two"""
    return func(arg)

In [573]:
run_a_func(len, 'apple')

In [575]:
run_a_func(lambda number: number * 2 + 3, 10)

23

In [577]:
def fact(n):
    """returns n!"""
    if n < 2:
        return 1
    else:
        return n * fact(n - 1)

In [578]:
for result in map(fact, range(9)):
    print(result)

1
1
2
6
24
120
720
5040
40320

In [579]:
for thing in 'python':
    print(thing)

p
y
t
h
o
n

In [580]:
len('python')

6

In [581]:
nums = [1, 2, 3, 4, 5]

In [582]:
len(nums)

5

In [583]:
for num in nums:
    print(num)

1
2
3
4
5

In [584]:
'Bala' * 2 # take 'Bala' and replicate it twice

'BalaBala'

In [586]:
for character in 'Bala':
    print(character * 2)

BB
aa
ll
aa

In [592]:
list(map(lambda x: x * 2, 'python'))

['pp', 'yy', 'tt', 'hh', 'oo', 'nn']

In [593]:
[char * 2 for char in 'python']

['pp', 'yy', 'tt', 'hh', 'oo', 'nn']

In [589]:
chars = []
for char in 'python':
    chars.append(char * 2)
chars

['pp', 'yy', 'tt', 'hh', 'oo', 'nn']

In [594]:
for thing in 'string':
    print(thing)

s
t
r
i
n
g

In [595]:
string = 'string'
for index in range(len(string)):
    print(string[index])

s
t
r
i
n
g

In [596]:
def odd(num):
    return num % 2

list(filter(odd, range(20)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [597]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [600]:
[num for num in range(20)
         if odd(num)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [605]:
print([char for char in 'this sentence has both vowels and consonants and spaces'
        if char not in 'aeiou'])

['t', 'h', 's', ' ', 's', 'n', 't', 'n', 'c', ' ', 'h', 's', ' ', 'b', 't', 'h', ' ', 'v', 'w', 'l', 's', ' ', 'n', 'd', ' ', 'c', 'n', 's', 'n', 'n', 't', 's', ' ', 'n', 'd', ' ', 's', 'p', 'c', 's']

In [606]:
# using filter and lambda, pull out all numbers
# divisible by 3 from a list of random numbers
mylist = [33, 35, -3, 20, 6, 9, 20]
list(filter(lambda num: num % 3 == 0, mylist))

[33, -3, 6, 9]

In [608]:
[num for num in mylist
         if num % 3 == 0]

[33, -3, 6, 9]

In [619]:
global_var = 'global!'

In [625]:
global_var

'global!'

In [626]:
def func():
    #global global_var # let me change the global variable inside this function
    local_var = 'local to this function'
    print(global_var, local_var)
    #global_var = 'new value!'

In [627]:
func()

global! local to this function

In [628]:
local_var

NameError: name 'local_var' is not defined

In [629]:
if 5 > 3:
    block_var = 'defined inside the block'
    print(block_var)
    block_var = 'in block!'
    print(block_var)

defined inside the block
in block!

In [630]:
block_var

'in block!'

In [634]:
# LEGB = Local, Enclosing, Global, Built-in (Function)

global_var = 'global scope!'

def myfunc():
    local_var = 'local scope' # not a good practice to have a local variable w/same name as global
    print('in func', local_var)

myfunc()

in func local scope

In [636]:
# LEGB
len = 4 # Python does not prevent me from creating a variable whose name is built-in function

In [637]:
len('string')

TypeError: 'int' object is not callable

In [638]:
del len # delete the len variable that I erroneously created

In [639]:
len('hi')

2

In [641]:
list = [1, 2, 3]

In [642]:
list('hello')

TypeError: 'list' object is not callable

In [643]:
del list

In [644]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [655]:
del print

In [646]:
print('hi')

TypeError: 'int' object is not callable

In [647]:
newvar = 'new variable'

In [652]:
id(newvar)

4680579376

In [649]:
another_var = 'another'

In [650]:
id(another_var)

4684862480

In [657]:
print(f'0x{id(another_var):x}')

0x1173d5410

In [659]:
class Person:
    def __init__(self, name):
        self.name = name

In [660]:
p = Person('Dave')

In [661]:
p

In [663]:
print(f'{id(p):x}')

1164c5d30

In [664]:
def myfunc():
    return 0

In [665]:
myfunc.__name__

'myfunc'

In [666]:
mylist = ['zero', 'one', 'two']

In [667]:
mylist.append('three')

In [668]:
s = { 'zero', 'one', 'two' }

In [669]:
print(s)

{'two', 'one', 'zero'}

In [670]:
s.add('three')

In [677]:
print(s)

{'two', 'one', 'three', 'zero'}

In [673]:
mylist[-1]

'three'

In [674]:
s[-1]

TypeError: 'set' object is not subscriptable

In [680]:
s # repr (Jupyter)

{'one', 'three', 'two', 'zero'}

In [679]:
print(s) # str

{'two', 'one', 'three', 'zero'}

In [681]:
nums = list(range(1, 26))

In [682]:
print(nums) # str

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [683]:
nums # repr

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

## Lab: Decorators
1. Create some function which takes an integer as its parameter
  * create a wrapper that ensures the parameter is positive
  * use that wrapper to decorate your original function
2. Make a timer decorator that computes the elapsed time of the function wrapped by it

In [684]:
import time

In [685]:
time.time()

1740777178.709271

In [686]:
time.time()

1740777182.330164

In [687]:
time.time()

1740777202.289671

In [688]:
help(time.time)

Help on built-in function time in module time:

time()
    time() -> floating-point number

    Return the current time in seconds since the Epoch.
    Fractions of a second may be present if the system clock provides them.

In [690]:
# start w/an existing decorator
def timeit(func):
    # below is a nested, or inner function
    def inner(*args, **kwargs):
        from time import time
        
        start_time = time() # get the time before the function runs
        result = func(*args, **kwargs)
        print('elapsed time:', time() - start_time)
        return result
    
    # document_it() is returning a reference to the inner function
    return inner

In [696]:
@timeit
def slow_func():
    import time
    time.sleep(2)

In [697]:
slow_func()

elapsed time: 2.0030570030212402

In [701]:
@timeit
def mysort(somelist):
    return sorted(somelist)

In [702]:
random_nums = [random.randint(1, 1000) for _ in range(1_000_000)]
sorted_nums = mysort(random_nums)

elapsed time: 0.08564615249633789

In [705]:
%%timeit # time a whole cell
sorted_nums = sorted(random_nums)

86.7 ms ± 975 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [706]:
import random
random_nums = [random.randint(1, 1000) for _ in range(1_000_000)]
%timeit sorted_nums = sorted(random_nums) # time a single line

86.5 ms ± 472 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [709]:
number: int = 1 # this a "type hint" telling Python you want this to be an int

In [710]:
number = 1.1

In [711]:
# use mypy to check your code before running it...

In [712]:
mylist = [1, 1.1, '2.2']

In [713]:
nums = [1, 2, 3]

In [714]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]